[submodule "3rd/luasocket"]
	path = 3rd/luasocket
	url = https://github.com/diegonehab/luasocket.git
[submodule "3rd/ltray"]
	path = 3rd/ltray
	url = git@github.com:hanxi/ltray.git
[submodule "3rd/lclipboard"]
	path = 3rd/lclipboard
	url = git@github.com:hanxi/lclipboard.git
[submodule "3rd/lua-websockets"]
	path = 3rd/lua-websockets
	url = git@github.com:lipp/lua-websockets.git
[submodule "3rd/copas"]
	path = 3rd/copas
	url = git@github.com:keplerproject/copas.git
[submodule "3rd/lua-MessagePack"]
	path = 3rd/lua-MessagePack
	url = https://framagit.org/fperrad/lua-MessagePack.git
[submodule "3rd/lua-openssl"]
	path = 3rd/lua-openssl
	url = git@github.com:hanxi/lua-openssl.git
